@font-face {
    font-family: 'Alexis';
    font-style: normal;
    font-weight: normal;
    src: local('Alexis'), url('../fonts/alex.woff') format('woff');
    src: url("../fonts/alexisv3.ttf") format('truetype');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End Reset*/

:root {
  font-size: min(max(3vw, 5mm), 10vw);
}

button, input[type=button] {
  
  padding: 0;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    position:absolute;
    color: white;
    background-color: black;
    font-size: 1em;
    
    overflow: hidden;
}


#qrHeader1, #qrHeader2 {
    color: black;
}
    
.field-image {
    margin: 2vw;
}

.field-image-src{  
    background-position: center;
    border: 1px solid;
}

.main-panel{
  box-sizing: border-box;
    padding:5vh 5vw;
    padding-bottom: 15vh;
    display: none;
    height: 85vh;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 100vh;
    right: 100vw;
    color: white;
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: center;
    place-content: center;
    overflow: hidden;
}

#prematch{
    display: block;
}


#auton{
  background-color: rgb(78, 105, 68);
}

#teleop{
  background-color: rgb(78, 105, 68);
}

#endgame{
  background-color: rgb(78, 105, 68);
}

#postmatch{
}


.phase-label span{
    font-family: Alexis;
    text-align: center;
    font-size: max(10vh, 7vw);    
    font-weight: 350;
}





#nextButton1, #nextButton2,
#nextButton3, #nextButton4,
#nextButton5, #nextButton6,
#nextButton7, #nextButton8,
#nextButton9, #nextButton10,
#prevButton1, #prevButton2,
#prevButton3, #prevButton4,
#prevButton5, #prevButton6,
#prevButton7, #prevButton8,
#prevButton9,
.undoButton, .clearForm{
    font-family: Alexis; 
    height: 100%;
    width: 15vh;
    box-sizing: content-box;
    background-color: rgb(151, 199, 240);
    text-decoration: none;
    text-align: center;
    display: inline-block;
}
.clearForm {
  width: auto;
}


input, select, textarea{
    font-size: 1em;
    font: roboto;
    width: auto;
}
.match-label{
  font:roboto;
  display:flex;
  box-sizing: border-box;
  justify-content: baseline;
  position:fixed;
  bottom:10px;
  left:10px;
  width:calc( 100vw - 20px);
  height: 15vh;
  font-size: 1rem;
}
.match-label {
  justify-content: space-between;
  font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.phase-label {
  margin: auto;
  justify-content: center;
}
.match-label label{
  font:Roboto;
}
.match-label

#qr-table {
    text-align: center;
    color: black;
    background-color: white;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
    min-width: 30vw;
    width:auto;
    height: 20vh;
    min-height: 1.3em;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 2.5em;
    color:black;
    cursor: pointer;
    margin: 0;
    position: relative;
    font-size: 1em;
    height: 100%;
    font-weight: bold;
    text-align: center;
    overflow: hidden;

  }

  .number-input button.in {
    background-color: green;
  }
  .number-input button.out {
    background-color: red;
  }
  .number-input button.subtract {
    background-color: gray;
    width: 1em;
    min-width: 1em;
    max-width: 1em;
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    min-width: 2em;
    max-width: 3em;
    
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
  }

  input[type=checkbox] {
    height:10vmin;
    width:10vmin;
  }

  .match-label input[type=checkbox] {
    height:10vh;
    width:10vh;
    max-height: 15vw;
  }
  .column-radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
  }

   .column-radio label {display: inline;  position: relative; box-sizing: border-box; border: 3px solid #ccc; flex-grow: 1;}
 .column-radio label input {display: none;}
.column-radio label span {
  box-sizing: border-box;
  width: auto; 
  height: auto; 
  overflow: hidden; 
  line-height: 2em; 
  text-align: center; 
  font-size: 1em; 
  margin: 5px;
 }
 .column-radio label:has(input) {
  background: #111;
}
.column-radio label:has(input:checked) {background: darkgray;}

#match-robot-select {
  font-size: 1.5rem;
}
.hub-counter {
  display: flex; justify-content: space-between; flex-direction: column;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%; 
  background: #042eaa;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  background: #042eaa;
  cursor: pointer;
}

.range__list {
  display: flex;
  justify-content: space-between;
  height: auto;
  overflow: hidden;
  margin-top: 16px; 


}
.range__list .range__opt:before {
  content: '';
  display: block;
  width: 0;
  height: auto;
  padding-left: 3px;
  text-indent: 0;
}

#input_co {
  box-sizing: border-box;
}

@media screen and (orientation:landscape) {
  .phase-label.portrait {
    display: none;
  }
  .phase-label.landscape {
    display:flex;
  }

}
@media screen and (orientation:portrait) {
  .phase-label.portrait {
    display: flex;
  }
  .phase-label.landscape {
    display:none;
  }
  .hub-counter{
    flex-grow:1;
    max-width: 45%;
  }
}