@font-face {
    font-family: 'Alexis';
    font-style: normal;
    font-weight: normal;
    src: local('Alexis'), url('../fonts/alex.woff') format('woff');
    src: url("../fonts/alexisv3.ttf") format('truetype');
}

:root {
  font-size: 5vmin;
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    position:absolute;
    color: white;
    background-color: black;
    font-size: 1rem;
    
    overflow: hidden;
}


#qrHeader1, #qrHeader2 {
    color: black;
}
    
.field-image {
    margin: 2vw;
}

.field-image-src{  
    background-position: center;
    border: 1px solid;
}

.main-panel{
  box-sizing: border-box;
    padding:5vh 5vw;
    display: none;
    height: 100vh;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 100vh;
    right: 100vw;
    color: white;
    font-family : -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    text-align: center;
    place-content: center;
    overflow: hidden;
}


#prematch{
    display: block;
}


#auton{
  background-color: rgb(78, 105, 68);
}

#teleop{
  background-color: rgb(78, 105, 68);
}

#endgame{
  background-color: rgb(78, 105, 68);
}

#postmatch{
}


h1{
    font-family: Alexis;
    text-align: center;
    border-style: groove;
    border-color: white; 
    border-width: 2px;
    font-size: 2rem;
    padding: 10px; 
    font-weight: 350;
}


h2{
    font-family: Alexis;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}


.half-button-l{
    width: 48%;
    margin: 1vw;
    height: 100%;
    font: roboto;
}

.half-button-r{
    flex-grow: 1;
    height: 100%;
    width: 48%;
    margin: 1vw;
    font: roboto;
}

.half-button-container{
    display: flex;
}

#nextButton1, #nextButton2,
#nextButton3, #nextButton4,
#nextButton5, #nextButton6,
#nextButton7, #nextButton8,
#nextButton9, #nextButton10,
.undoButton, .clearForm{
    font-family: Alexis; 
    padding: 10px;
    background-color: rgb(151, 199, 240);
    text-decoration: none;
    display: inline-block;
}


#prevButton1, #prevButton2, #prevButton3, #prevButton4, #prevButton5, #prevButton6, #prevButton7, #prevButton8, #prevButton9{
    font-family: Alexis;
    background-color: rgb(151, 199, 240); 
    padding: 10px;
}

input, select{
    font-size: 1rem;
    font: roboto;
    width: auto;
}
.match-label {
  padding: 10px;
  box-sizing: border-box;
  position:fixed;
  bottom:0vh;
  left:0;
  width:100vw;
}

#qr-table {
    text-align: center;
    color: black;
    background-color: white;
}


input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    border: 2px solid #ddd;
    display: inline-flex;
  }
  
  .number-input,
  .number-input * {
    box-sizing: border-box;
  }
  
  .number-input button {
    outline:none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    
    align-items: center;
    justify-content: center;
    width: 5rem;
    color:black;
    cursor: pointer;
    margin: 0;
    position: relative;
    font-size: 1rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
    overflow: hidden;

  }

  .number-input button.in {
    background-color: green;
  }
  .number-input button.out {
    background-color: red;
  }
  .number-input button.subtract {
    background-color: gray;
    width: 2rem;
  }
  
  .number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding: .5rem;
    border: solid #ddd;
    border-width: 0 2px;
    font-size: 1rem;
    height: 3rem;
    font-weight: bold;
    text-align: center;
  }
  input[type=checkbox] {
    transform: scale(2);
  }
  .column-radio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:25%;
  }

   .column-radio label {display: inline;  position: relative; box-sizing: border-box; border: 3px solid #ccc; width:50%}
 .column-radio label input {display: none;}
.column-radio label span {
  box-sizing: border-box;
  width: auto; 
  height: auto; 
  overflow: hidden; 
  line-height: 2em; 
  text-align: center; 
  font-size: 1em; 
  margin: 5px;
 }
 .column-radio label:has(input) {
  background: #111;
}
.column-radio label:has(input:checked) {background: darkgray;}